.DS_Store
dist/*
build/*
!build/version.json
!build/installer.nsh
!build/windows_installer.ico
node_modules/*
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
# yarn.lock
package-lock.json
.yarn/*
.idea/*
.vscode/*
*.log
SharePerferences/*
UserData/**/*
out/