registry=https://registry.npmmirror.com/
# arc=x64

# set env 
# set env msvs=2022
# set arch=ia32
# set runtime=electron
# set env variable ELECTRON_MIRROR https://npmmirror.com/mirrors/electron/
# electron-builder 3rd part 
# set env variable ELECTRON_BUILDER_BINARIES_MIRROR https://npmmirror.com/mirrors/electron-builder-binaries/

# "terminal.integrated.env.windows": {
#     "ELECTRON_MIRROR": "https://npmmirror.com/mirrors/electron/",
#     "ELECTRON_BUILDER_BINARIES_MIRROR": "https://npmmirror.com/mirrors/electron-builder-binaries/",
# },

# @u4/opencv4nodejs issue
# node_modules/@u4/opencv4nodejs/binding.gyp
#       "msvs_settings": {
#					"VCCLCompilerTool": {
#						"ExceptionHandling": "2",
#						"RuntimeLibrary": "2",
#            "PreprocessorDefinitions": ['NOMINMAX']
#					},
#				}