registry=https://registry.npmmirror.com/
# registry=https://registry.npmjs.com
#arch=ia32
runtime=electron
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir=33.0.1
target=33.0.1
