registry=https://registry.npmmirror.com/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
npm_config_python=D:\Python\Python312\python.exe
# registry=https://registry.npmjs.com
# arch=ia32
runtime=electron

# electron-builder 3rd part 
# see source code node_modules/app-builder-lib/out/binDownload.js
# change baseUrl = https://npmmirror.com/mirrors/electron-builder-binaries/
# or set env variable ELECTRON_BUILDER_BINARIES_MIRROR

# electron download
# modify node_modules/@electron/get/dist/cjs/artifact-utils.js 
# BASE_URL = 'https://npmmirror.com/mirrors/electron/'

# electron-rebuild
# if electron-rebuild blocked by download electron-node header resource
# maunal download https://artifacts.electronjs.org/headers/v${electorn-version}/node-v${electorn-version}-headers.tar.gz
# unzip to to .electron-gyp/${electron-version}
# want to see the log change args.push(d.enabled ? '--verbose' : '--silent') to --verbose
# and fork child process stdio: 'inherit'
# @electron/node-gyp/lib/build.js
# const { glob } = require('glob')

# !!important!!
# electron-rebuild 
# @electron/rebuild/lib/module-type/node-gyp/worker.js
# await (0, util_1.promisify)(nodeGyp.commands[command.name])(command.args)
# await nodeGyp.commands[command.name](command.args)
# node util promisify is not working


# @u4/opencv4nodejs issue
# node_modules/@u4/opencv4nodejs/binding.gyp
#       "msvs_settings": {
#					"VCCLCompilerTool": {
#						"ExceptionHandling": "2",
#						"RuntimeLibrary": "2",
#            "PreprocessorDefinitions": ['NOMINMAX']
#					},
#				}