<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Access-Control-Allow-Origin" content="*" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" crossorigin="anonymous" href="https://at.alicdn.com/t/c/font_1637704_uufh95o862p.css
  " />
  <!-- <link rel="shortcut icon" href="/static/favicon.ico" /> -->
  <script src="" crossorigin="anonymous"></script>
  <title>AppApiProxy</title>
  <!-- <% if (htmlWebpackPlugin.options.nodeModules) { %> -->
  <!-- Add `node_modules/` to global paths so `require` works properly in development -->
  <!-- <script> -->
  <!-- require("module").globalPaths.push("<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>"); -->
  <!-- </script> -->
  <!-- <% } %> -->
</head>

<body style="margin: 0;">
  <script lang="javascript">
    global = globalThis
    window._AMapSecurityConfig = {
      securityJsCode: '82107540aa2f63b1127978acd042c4c4',
    }
  </script>
  <div id="app"></div>
  <!-- <% if (!require('process').browser) { %> -->
  <script>
    // if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
  </script>
  <!-- <% } %> -->
</body>

</html>